/* ОБЩЕЕ: РАЗМЕТКА */
body {
	background-color: #f8f8f8;
	margin: 0;
}
header {
	background-color: #e6e6e6;
	min-height: 80px;
	background: url(img/banner.jpg) no-repeat 50%;
	border-bottom: 2px solid #606060;
	padding: 1px;
}
main {
	min-height: 670px;
}
footer {
	min-height: 50px;
	background-color: #d4d4d4;
	border-top: 2px solid #606060;
	padding: 20px 0 10px;
	font-size: 10pt;
}
.container {
	position: relative;
	width: 1000px;
	margin: 0 auto;
}


/* ОБЩЕЕ */
nav li, h1, h2 {
	font-variant: small-caps;
}
.mainText {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
caption {
	font-size: 0.8em;
	color: #222;
	line-height: 1em;
}
a {
	text-decoration: none;
}


/* общее: заголовок: НАВИГАЦИЯ */
nav ul {
	position: absolute;
	top: 0;
	right: 0;
}
nav li {
	list-style-type: none;
	display: inline-block;
}
nav li > * {
	display: block;
	margin: 10px 15px 15px 0;
	border: 3px outset #bbb;
	border-radius: 3px;
	padding: 4px 8px;
	color: black;
	background-color: #f0f3f8;
	font-size: 1.1em;
}
nav a:hover {
	color: maroon;
}
nav a:active {
	color: white;
	background-color: maroon;
	border: 3px inset #dbb;
}
nav .this {
	cursor: default;
	pointer-events: none;
	font-weight: bold;
}

/* общее: заголовок: ПСЕВДОЛОГОТИП */
header img {
	width: 350px;
}

/* общее: ПОДВАЛ */
footer .disclaimer {
	position: absolute;
	top: 0;
	right: 0;
}
footer .content {
	width: 400px;
	height: 50px;
}


/* ГЛАВНАЯ */
section.index div {
	margin: 0px 30px;
	text-indent: 18px;
}
.index .alert {
	margin-top: 70px;
	color: #707070;
}


/*  К А Т А Л О Г  */
section.catalog {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
.catalog div.wareImage {
	background-color: #f0f5ff;
	border: 1px solid #909090;
	border-radius: 5px;
	flex: 0 200px;
	text-align: center;
}
.catalog .wareImage img {
	width: 100%;
	border: 1px solid #c0c0c0;
	font-size: 0.9em;
}
.catalog .wareImage a {
	font: italic 1.1em cursive;
	display: inline-block;
	padding: 7px 12px;
	height: 100%;
}
.catalog .wareImage a:hover {
	color: maroon;
}
.catalog .wareImage .ware-hint {
	display: inline-block;
	padding: 10px 0;
}


/*  С Т Р А Н И Ц Ы  Т О В А Р О В  */
.warePage h4 {
	color: black;
	font-size: 18px;
	font-weight: 400;
	background-color: #eaf0fa;
	padding: 5px 70px;
	border: 1px solid #d0d0d0;
	border-left: none;
	border-right: none;
	margin: auto 15px;
	clear: both;
}
.warePage p:first-letter {
	font-size: 1.2em;
	font-family: cursive;
	color: brown;
}

/* страницы товаров: Л И Ц Е В А Я */
article.ware-face {
	position: relative;
	min-height: 300px;
}
/* страницы товаров: лицевая: КАРТИНКА */
.ware-face a {
	display: block;
	float: left;
	margin: 0 15px 15px 0;
}
.ware-face a > img {
	height: 300px;
	padding: 7px 10px;
	background-color: #eaf0fa;
	outline: 2px dashed #eaf0fa;
	outline-offset: -2px;
}
.ware-face a > img:hover {
	background-color: inherit;
}
/* страницы товаров: лицевая: КРАТКОЕ описание */
.ware-face .brief {
	color: #707070;
	font-size: 14px;
	font-style: italic;
	line-height: 16px;
	letter-spacing: 1px;
}
/* страницы товаров: лицевая: КНОПКА */
.ware-face button.buybutton {
	position: absolute;
	right: 150px;
	bottom: 5px;
	padding: 14px 40px;
	border-radius: 12px;
	font-size: 20px;
	font-variant: small-caps;
	letter-spacing: 3px;
	color: white;
	background-color: brown;
}
.ware-face button.buybutton:hover {
	color: black;
}
.ware-face button.buybutton:active {
	background-color: red;
}
.ware-face div#popup {
	width: 400px;
	height: 120px;
	position: absolute;
	left: 50%; margin-left: -200px;
	top: 50%; margin-top: -100px;
	background-color: #e6e6e6;
	border: 2px solid #606060;
	border-radius: 18px;
	padding: 10px;
	display: none;
}
div#popup {
	text-align: center;
}
div#popup button {
	font-size: 15px;
	padding: 4px 12px;
}
div#popup button:active {
	color: white;
	background-color: brown;
}

/* страницы товаров: О П И С А Н И Я */
/* страницы товаров: описания: ХАРАКТЕРИСТИКИ */
.ware-descriptions ul {
	list-style-type: none;
	margin: 10px 0 15px;
	padding: 0;
	color: #242424;
	letter-spacing: 0.5px;
	line-height: 26px;
}
.ware-descriptions .icon {
	height: 22px;
	margin: 0 7px 0 0;
	vertical-align: center;
}
/* страницы товаров: описания: ТАБЛИЦА технические характеристики */
.ware-descriptions table.techchar {
	float: right;
	margin: 10px 85px 10px 20px;
	border-left: 1px solid #d0d0d0;
	border-right: 1px solid #eaeaea;
}
.ware-descriptions table.techchar td {
	width: 100px;
	padding: 1px 5px;
	color: #242424;
}
/* страницы товаров: описания: ПОДРОБНОЕ */
.ware-descriptions .thorough {
	color: #484343;
	text-align: left;
	/* смотри класс mainText выше */
}
.ware-descriptions div.rodent-flexbox {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
.ware-descriptions .rodent-flexbox p {
	margin: 10px 15px 20px 0;
	flex: 350px;
	text-align: justify;
}
.ware-descriptions .rodent-flexbox p:nth-child(2n) {
	margin: 10px 0 20px 15px;
	flex: 450px;
}


/* КОНТАКТЫ:  Ф О Р М А */
form.sendUsMessage {
	background-color: #f0f3f8;
	border: 2px solid #909090;
	border-radius: 15px;
	width: 550px;
	padding: 15px 25px 35px;
}
.sendUsMessage h2 {
	text-align: center;
	background-color: #e6ecf0;
	margin: -15px -25px 5px;
	padding: 15px 25px;
	border-bottom: 2px solid darkgrey;
	border-radius: 15px 15px 0 0;
}
.sendUsMessage .line input {
	float: right;
	width: 40%;
	padding: 3px 7px;
	font: normal 12pt serif;
	text-transform: capitalize;
}
p.radio {
	float: right;
	margin-top: 0;
}
.sendUsMessage .input-email input:focus {
	color: white;
	background-color: maroon;
	border: 3px inset #dbb;
}
.sendUsMessage textarea {
	border: 1px solid #777;
	width: 100%;
	resize: vertical;
	font: normal 12pt serif;
}
.sendUsMessage .beforeTextarea {
	border: 1px solid #999;
	border-bottom: none;
	background-color: #fcfcfc;
	padding: 2px 5px;
}

/* контакты: КАРТА */
div.map {
	width: 100%;
	height: 374px;
	margin: 25px 0 15px;
	border: 1px solid #d0d0d0;
}


/* честное слово, мусор какой-то*/
.warePage table.editableTab {
	border-collapse: collapse;
	margin: 5px;
	padding: 2px;
}
.warePage .editableTab td {
	width: 150px;
	max-width: 150px;
	border: 1px solid black;
	padding: 2px 5px;
	overflow: auto;
}
.warePage .editableTab td[colspan="2"] { max-width: 300px; }
.warePage .editableTab td[colspan="3"] { max-width: 450px; }
.warePage .editableTab td[colspan="4"] { max-width: 600px; }

.warePage .editableTab tr:first-child {
	height: 50px;
}
.warePage .editableTab tr:first-child td {
	letter-spacing: 20px;
	text-align: center;
}
.warePage .editableTab tr:nth-child(2) td:first-child {
	vertical-align: top;
}
