/* страница: h o m e - start */

.BEM_home-start {
	min-height: 100vh;
	padding-top: 2rem;

	@include on-medium {
		background-image: url('../img/home-start_bg.png');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: bottom;
	}

	@include on-normal {
		background-image: url('../img/home-start_bg.png');
		background-repeat: no-repeat;
		background-position: right 15% bottom 10%;
	}

	&__background {
		background: linear-gradient(0deg, $color-main-bkg 8%, rgba($color-accent-main,0) 31%);
		overflow-y: auto;
	}
}

.BEM_error {
	width: 350px;
	position: absolute;
	top: 20vh;
	left: calc(50% - 175px);
	border-radius: 1em;
	padding: 2em;
	z-index: 1;
	background-color: #ccc;
	color: #222;
	opacity: .95;
	text-align: center;
	display: none;

	&__chkbox:checked ~ .BEM_error {
		display: block;
	}

	&__message {
		margin: 1em;
		padding: .2em;
		border-radius: 2em / 50%;
	}
}


/* страница: h o m e - what we do */

.BEM_card {
	flex: initial;
	max-width: 90%;
	border-radius: .5em;
	background-color: #fff;
	box-shadow: .5em 1em 2em rgba($color-secondary,.2);
	transition: box-shadow .2s linear;

	@include on-small {
		padding: 2em 1em;
		margin: 1em auto;
	}

	@include on-small {
		max-width: 70%;
		margin: 1em auto;
		padding: 2em 2.5em;
	}

	@include on-normal {
		max-width: 30%;
		padding: 2em 1.5em;
	}

	// &:is(:hover, :focus)
	&:hover,
	&:focus {
		box-shadow: .7em 1.2em 2em rgba($color-secondary,.4);
	}

	&__img {
		display: block;
		margin: 0 auto;
		height: 110px;

		&--1 {
			position: relative;
			left: -6%;
		}
		&--2 {
			position: relative;
			left: 1%;
		}
		&--3 {
			position: relative;
			left: -4%;
		}
	}

	&__text {
		margin: 1em 0;
	}

	&__link {
		display: inline-block;
		color: $color-secondary;
	
		&::after {
			content: "";
			display: block;
			position: relative;
			left: -10%;
			height: .2em;
			width: 120%;
			border-radius: 50%;
			background-color: $color-button-filler;
			transform: scale(0);
			transform-origin: center;
			transition: transform .3s ease-in-out;
		}

		// &:is(:hover, :focus)::after
		&:hover::after,
		&:focus::after {
			transform: scale(1);
		}
	}
}


/* страница: h o m e - projects */

.BEM_project {

	&__wrap {
		width: 100%;
		margin: 1rem 0;
		position: relative;
		color: white;

		@include on-normal {
			flex: 1 1 40%;
		}

		&::before,
		&::after {
			content: '';
			display: block;
			border-radius: 1em;
			background-color: rgba(31,63,127,.6);
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			transition:
				transform .4s ease-in-out,
				box-shadow .4s ease-in-out;

			@include on-medium {
				padding: 2em 3em;
				border-radius: 1.5em;
			}

			@include on-normal {
				padding: 2em 3em;
				border-radius: 1.5em;
			}
		}

		// &:is(:hover, :focus)
		&:hover,
		&:focus {

			& > .BEM_project__face {
				transform: translate(-1em, .5em);
				box-shadow: 0.5em 0.5em .5em rgba(31,63,127,.4);
			}

			&::before {
				box-shadow: 0 .25em .5em rgba(31,63,127,.4);
			}

			&::after {
				transform: translate(1em, -0.5em);
			}
		}

		&--smarthome {

			@include on-normal {
				flex-basis: 100%;
			}
		}
	}

	&__face {
		width: 100%;
		min-height: 250px;
		padding: 1em 1.5em;
		border-radius: 1em;
		background-size: cover;
		background-position: center;
		position: relative;
		z-index: 1;
		background-color: #aaa;
		transition:
			transform .4s ease-in-out,
			box-shadow .4s ease-in-out;

		@include on-small {
			min-height: 250px;
			padding: 1em 1.5em;
			border-radius: 1em;
		}

		@include on-medium {
			min-height: 300px;
			padding: 2em 3em;
			border-radius: 1.5em;
		}

		@include on-normal {
			min-height: 480px;
			padding: 2em 3em;
			border-radius: 1.5em;
		}

		&--smarthome { background-image: url("../img/app-smarthome.jpg");
			@include on-normal {
				text-align: right;
			}
		}
		&--sparklite { background-image: url("../img/app-sparklite.jpg"); }
		&--car       { background-image: url("../img/app-car-repetition.jpg"); }
	}
}